---
layout: page
---
<style>
.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  top: 200;
  left: 200;
}
</style>
<div class="page-sidebar sidenav" >
  {% include page-author.html %}
  {% include page-categories.html %}
  {% include page-tags.html %}
</div>
{{ content }}


{% assign postsByYear = site.certifications | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for entry in year.items %}
        {% include entry.html %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
