---
layout: page
---

{{ content }}


<div class="page-sidebar">
  {% include page-author.html %}
  {% include page-categories.html %}
  {% include page-tags.html %}
</div>
{% assign postsByYear = site.certifications | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for entry in year.items %}
        {% include entry.html %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
