---
layout: page
---
{{ content }}

<div>

<img src="images/Personal_Picture.jpg"   class="center" width="200" height="200">
<h3>Hello World!</h3>
My name is Wahab and I have been working as a Data Scientist for 3 years now. My interests include machine learning, deep learning, data analysis, and computer vision. I am currently working full-time for Zong-CMPak as an Executive-IT at Big Data Centre Advance Analytics.Previosly,I was an undergraduate student at National University of Sciences & Technology in Islamabad.
</div>
