---
layout: page
---
{{ content }}

<div>

<img src="/images/Wahab.jpg"   class="center" width="200" height="200" border-radius="50%">
<h3>Hello World!</h3>
<p class="inner-page">
Wahab here. I am a Data Scientist at Maaloomattia, Dubai (currently working on-site with a client in Oman). My career interests include machine learning, deep learning, data analysis, and computer vision and I have over 4 years of professional experience in this domain. I hold an undergraduate degree in Software Engineering from National University of Sciences & Technology, Pakistan.</div>
</p>
